@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;   
    color: white;
    background-color: black;
    text-align: center;
}

#headerText {
    padding-top: 50px;
}

#mainText {
    padding-top: 30px;
    padding-bottom: 20px;
}

.imgContainer {
    height: 400px;
    width: auto;
    margin-right: 33%;
    margin-left: 33%;
    padding-top: 15px;
}

/* #mainImg {
    height: 250px;
    width: 250px;
    padding: 20px;
} */
/* 
button {
    display: inline;
} */